{% load i18n %}

<div class="pb-0 pb-sm-2">
    <h1 class="title title--h1 title__separate">{% translate "About Me" %}</h1>
    <p>
        <b>{% translate "Hello my good friend, welcome to my website :) I am Navid Rahimzadeh, an Iranian Kurdish programmer/developer, musician and essayist. My main field of activity is in Multi-Platform programming with Dart / Flutter and web programming with Python / Django / DRF." %}</b>
    </p>
    <p>
        {% translate "In addition to the main part of my activity, the rest of my world of knowledge is related to tools such as Linux (distributions based on: Debian - Arch and RedHat) - Docker - Git - Github / GitLab - Testing (unit testing for Django) - JavaScript - Vue.js - SCSS - In relational databases (SQL): MySQL / MriaDB - PostgreSQL - OracleDB - In NoSQL databases: Redis - MongoDB - Monolithic architectures such as MVC / MTV and Micro-Service architecture are awarded. I am also familiar with PHP, C-Sharp and Laravel, Dot.NET frameworks." %}
    </p>
    <p>
        {% translate "Also, in music, I have a strong interest in traditional Iranian music, and because of this interest, I have mastered the instruments of fiddle, tonbak, santoor, and def. Iranian traditional music is a part of our identity as Iranians, unfortunately this art is not as interesting as it used to be, but I personally try to play a part in preserving this ancient art." %}
    </p>
    <p>
        {% translate "Writing is considered a positive point from any point of view; It can be for venting emotions, sharing knowledge, developing ideas and planning. Hence, essay writing is very important to me because it is a big part of writing, a lot of it is about sharing my knowledge and information :)" %}
    </p>
</div>
