{% extends '_base.html' %}

{% load i18n %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
<!-- About -->
<div class="pb-0 pb-sm-2">
    <h2 class="title title--h1 title__separate">{% translate "Post Detail" %}</h2>
</div>

<!-- Post -->
<div class="pb-3">
    <header class="header-post">
        <h1 class="title title--h1">{{ post.title }}</h1>
        <div class="caption-post">
            <p>
                <b>
                    {{ post.description }}
                </b>
            </p>
        </div>
        <div class="header-post__image-wrap">
            <img style="width: 90%; height: 100%; border-radius: 5px; shadow: 5%;" class="cover lazyload" src="{{ post.banner.url }}" alt="{{ post.title }}" />
        </div>
    </header>
    
    <br>

    <div class="caption-post">
        {{ post.content|safe }}
    </div>
</div>

<hr>

<!-- Comments section -->

<br />

{% if user.is_authenticated %}
<form class="comment-form" action="" method="POST">
    {% csrf_token %}
    <textarea id="commentForm" class="textarea form-control" required="required" placeholder="{% translate 'Write...' %}"
        rows="1" name="comment"></textarea>
    <button type="submit" class="btn btn-submit"><i class="font-icon icon-send"></i></button>
    <div class="dropdown dropup">
        <button type="button" class="btn btn-emoji" id="dropdownEmoji" data-bs-toggle="dropdown" aria-haspopup="true"><i
                class="font-icon icon-smile"></i></button>
        <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownEmoji">
            <div class="emoji-wrap">
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-laughing.svg' %}" title=":laughing:" alt="laughing" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-happy-2.svg' %}" title=":happy 2:" alt="happy 2" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-crazy.svg' %}" title=":crazy:" alt="crazy" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-bad.svg' %}" title=":bad:" alt="bad" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-angry.svg' %}" title=":angry:" alt="angry" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-happy.svg' %}" title="happy" alt="happy" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-thinking.svg' %}" title=":thinking:" alt="thinking" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-sad.svg' %}" title=":sad:" alt="sad" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-pressure.svg' %}" title=":pressure:" alt="pressure" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-in-love.svg' %}" title=":in love:" alt="in love" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-nerd.svg' %}" title=":laughing:" alt="nerd" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-happy-3.svg' %}" title=":happy 3:" alt="happy 3" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-shocked.svg' %}" title=":shocked:" alt="shocked" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-wink.svg' %}" title=":wink:" alt="wink" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-sweating.svg' %}" title=":sweating:" alt="sweating" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-shocked-2.svg' %}" title=":shocked 2:" alt="shocked 2" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-shocked-3.svg' %}" title=":shocked 3:" alt="shocked 3" />
                <img class="emoji" src="{% static 'assets/icons/emoji/emoji-sad-2.svg' %}" title=":sad 2:" alt="sad 2" />
            </div>
        </div>
    </div>
</form>
{% else %}
<div>
    <p>
        <b>
            {% blocktranslate %}You can comment on this post :) But first you have to <a href="/accounts/login/">login from this link</a> and if you don't have an account, <a href="/accounts/signup/">register from this link</a>.{% endblocktranslate %}
        </b>
    </p>
</div>
{% endif %}

<br />

<h2 class="title title--h2">{% translate "Comments" %}</h2>

<!-- Comment -->
<div class="comment-box">
    {% for comment in comments %}
    {% if comment.is_parent %}
    <div class="comment-box__inner box">
        <figure class="box box-avatar box-avatar--not-border">
            <img style="width: 100%; height: 100%; border-radius: 20px;" src="{{ comment.commenter.avatar.url }}" alt="{{ comment.commenter.get_user_display_name }}">
        </figure>
        <div class="comment-box__body">
            <h3 class="comment-box__details"><span>{{ comment.commenter.get_user_display_name }}</span><span class="comment-box__details-date">{{ comment.get_jalali_datetime_created }}</span></h3>
            <p>
                {{ comment.comment|linebreaksbr }}
            </p>

            {% if user.is_authenticated %}
            <form class="comment-form" action="" method="POST">
                {% csrf_token %}
                <textarea id="commentForm" class="textarea form-control" required="required" placeholder="{% translate 'Reply...' %}"
                    rows="1" name="comment"></textarea>
                <button type="submit" class="btn btn-submit"><i class="font-icon icon-send"></i></button>
                <div class="dropdown dropup">
                    <button type="button" class="btn btn-emoji" id="dropdownEmoji" data-bs-toggle="dropdown" aria-haspopup="true"><i
                            class="font-icon icon-smile"></i></button>
                    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownEmoji">
                        <div class="emoji-wrap">
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-laughing.svg' %}" title=":laughing:" alt="laughing" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-happy-2.svg' %}" title=":happy 2:" alt="happy 2" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-crazy.svg' %}" title=":crazy:" alt="crazy" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-bad.svg' %}" title=":bad:" alt="bad" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-angry.svg' %}" title=":angry:" alt="angry" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-happy.svg' %}" title="happy" alt="happy" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-thinking.svg' %}" title=":thinking:" alt="thinking" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-sad.svg' %}" title=":sad:" alt="sad" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-pressure.svg' %}" title=":pressure:" alt="pressure" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-in-love.svg' %}" title=":in love:" alt="in love" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-nerd.svg' %}" title=":laughing:" alt="nerd" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-happy-3.svg' %}" title=":happy 3:" alt="happy 3" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-shocked.svg' %}" title=":shocked:" alt="shocked" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-wink.svg' %}" title=":wink:" alt="wink" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-sweating.svg' %}" title=":sweating:" alt="sweating" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-shocked-2.svg' %}" title=":shocked 2:" alt="shocked 2" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-shocked-3.svg' %}" title=":shocked 3:" alt="shocked 3" />
                            <img class="emoji" src="{% static 'assets/icons/emoji/emoji-sad-2.svg' %}" title=":sad 2:" alt="sad 2" />
                        </div>
                    </div>
                </div>
                <input type="hidden" value="{{ comment.pk }}" name="parent">
            </form>
            {% else %}
            <div>
                <p>
                    <b>
                        {% blocktranslate %}You can reply on this comment :) But first you have to <a href="/accounts/login/">login from this link</a> and if you don't have an account, <a href="/accounts/signup/">register from this link</a>.{% endblocktranslate %}
                    </b>
                </p>
            </div>
            {% endif %}

            <br />

            {% for reply in comment.children %}
            <div class="comment-box__inner box">
                <figure class="box box-avatar box-avatar--not-border">
                    <img style="width: 100%; height: 100%; border-radius: 20px;" src="{{ reply.commenter.avatar.url }}" alt="{{ reply.commenter.get_user_display_name }}">
                </figure>
                <div class="comment-box__body">
                    <h3 class="comment-box__details"><span>{{ reply.commenter.get_user_display_name }}</span><span class="comment-box__details-date">{{ reply.get_jalali_datetime_created }}</span></h3>
                    <p>
                        {{ reply.comment|linebreaksbr }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}

{% endblock content %}